@font-face {
  font-family: "iconfont"; /* Project id 2769184 */
  src: url('iconfont.woff2?t=1629895613115') format('woff2'),
       url('iconfont.woff?t=1629895613115') format('woff'),
       url('iconfont.ttf?t=1629895613115') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee_left:before {
  content: "\e613";
}

.icon-coffee_logo:before {
  content: "\e60d";
}

.icon-coffee_order:before {
  content: "\e60e";
}

.icon-coffee_right:before {
  content: "\e60f";
}

.icon-coffee_hot:before {
  content: "\e610";
}

.icon-coffee_size:before {
  content: "\e611";
}

.icon-coffee_user:before {
  content: "\e612";
}

.icon-right:before {
  content: "\e601";
}

.icon-coffee_car:before {
  content: "\e602";
}

.icon-coffee_adders:before {
  content: "\e603";
}

.icon-coffee_eyes:before {
  content: "\e604";
}

.icon-coffee_ice:before {
  content: "\e605";
}

.icon-coffee_cold:before {
  content: "\e606";
}

.icon-coffee_phone:before {
  content: "\e607";
}

.icon-coffee_gift:before {
  content: "\e608";
}

.icon-coffee_home:before {
  content: "\e609";
}

.icon-coffee_del:before {
  content: "\e60a";
}

.icon-coffee_email:before {
  content: "\e60b";
}

.icon-coffee_pass:before {
  content: "\e60c";
}

